<div class="d-flex flex-column align-items-center">
  <h1 class="mt-3 mb-4">Public recipes</h1>
  <% @public_recipes.each do |recipe| %>
    <a href=<%="/recipes/#{recipe.id}"%> class="mt-3 mb-4 w-50  justify-content-center gap-5 border border-3 border-muted my-3 rounded-4 text-reset text-decoration-none p-2">
      <div class="d-flex justify-content-between">
        <h2><%= recipe.name %></h2>
        <div class="pt-1">
        <p class="mb-1">Total food items: <%= recipe.recipe_foods.count %></p>
        <% cost = recipe.recipe_foods.includes(:food).map do |recipe_food| %>
          <% recipe_food.food.price * recipe_food.quantity %>
        <% end %>
        <p class="mb-0 text-end">Total price: <%= "$#{cost.sum}" %></p>
      </div>
      </div>
      <div>
        <h5 class="mt-3">By: <%= recipe.user.name %></h5>
      </div>
      
    </a>
  <% end %>
</div>
