<div class="float-end">
<% if user_signed_in? %>
  <a href="/recipes">
    <button class="btn btn-primary"> Back</button>
  </a>
<%else%>
  <a href="/">
    <button class="btn btn-primary"> Back</button>
  </a>
<%end%>
</div>


<div>
<h3 class="align-middle">Recipe Name: <%= @single_recipe.name %></h3>
</div> 

<div>
  <p class="fs-3 float-start">Preparation time: <%=  @single_recipe.preparation_time %> hrs</p> 
  <div class="float-end">
  <% if  @single_recipe.public %>
  <div class="form-check form-switch">
  <input class="form-check-input " type="checkbox" disabled role="switch" checked id="public">
  <label class="form-check-label" for="public">public</label>
</div>
<% else %>
<div class="form-check form-switch">
  <input class="form-check-input " type="checkbox" disabled role="switch" id="public">
  <label class="form-check-label" for="public">public</label>
</div>
<% end %>
</div>
  <p class="fs-3">Preparation time: <%=  @single_recipe.preparation_time %> </p> 

</div>
<p class="fs-3">Cooking time: <%=  @single_recipe.cooking_time %> </p>
<p><%= @single_recipe.description %></p>

<div class="p-5 mt-3 mb-3">
  <% if user_signed_in? %>
    <div class="float-start">
      <a href="/general_shopping_list"> <button>General Shopping List </button></a>
      <a href=<%="/recipes/#{@single_recipe.id}/add"%>><button> add ingredient</button> </a>
    </div>
  <%end%>
</div>
<div class="table table-group-divider mt-3 p-2"></div>
<table class="table border border-3 border-muted rounded-4">
  <thead>
    <tr class="bg-primary text-white d-flex justify-content-between">
      <th scope="col">Food Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @single_recipe.recipe_foods.includes(:food).each do |recipe_food| %>
    <tr class="d-flex justify-content-between">
    <th class="text-start"><%=recipe_food.food.name%></th>
    <th class="text-start"><%=recipe_food.quantity%></th>
    <th class="text-start"><%=recipe_food.food.price * recipe_food.quantity%></th>
    <th class="d-flex gap-2 text-start">
      <a href= <%="/recipes/#{recipe_food.recipe_id}/update/#{recipe_food.id}"%>>
      <button class="btn btn-warning">Edit</button>
      </a>
        <%= form_with url: "/recipes/ingredint/destroy", method: :post do |form| %>
          <%= form.hidden_field :rf_id, value:recipe_food.id %>
          <%= form.hidden_field :r_id, value:recipe_food.recipe_id %>
          <%= form.submit "REMOVE", :class=>"btn btn-danger" %>
        <% end %>
      <% else %>
        <p class="mb-0 text-white">Invisible text</p>
      <% end %>
    </th>
    <tr>
  <% end %>
</table>

