<div class="d-flex justify-content-center mt-5">
  <% if @foods.any? %>
    <table id="foods" class="table w-50">
      <tr class="bg-primary text-white">
        <th>Food</th>
        <th>Quantity</th>
        <th>Measurement Unit</th>
        <th>Unit Price</th>
        <th>Action</th>
      </tr>
      <% @foods.each do |food| %>
        <tr>
          <td><%= food.name %></td>
          <td><%= food.quantity %></td>
          <td><%= food.measurement_unit %></td>
          <td><%= "$#{food.price}" %></td>
          <td>
            <%= button_to "Delete", food_path(food.id), method: :delete, class: "btn btn-outline-danger" %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <h1>You have not added any food to your list.</h1>
  <% end %>
</div>
