<div class="table">
  <%= button_to "Add Food", new_food_path, method: :get %>

  <% if @foods.any? %>
    <table id="foods">
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Measurement Unit</th>
        <th>Unit Price</th>
        <th>Action</th>
      </tr>
      <% @foods.each do |food| %>
        <tr>
          <td><%= food.name %></td>
          <td><%= food.quantity %></td>
          <td><%= food.measurement_unit %></td>
          <td><%= "$#{food.price}" %></td>
          <td>
            <%= button_to "Delete", food_path(food.id), method: :delete %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <h1>You have not added any food to your list.</h1>
  <% end %>
</div>
