<h1 class="text-center mt-4">Add Food</h1>
<div class="d-flex justify-content-center">
  <%= form_with model: @food, class: "d-flex flex-column gap-3" do |form| %>  
    <div class="d-flex flex-column">
      <%= form.label :name, "Food:", class:"text-success form-label" %>
      <%= form.text_field :name, placeholder: "Apple, chicken breasts...", :class=>"form-control" %>
    </div>

    <div class="d-flex flex-column">
      <%= form.label :quantity, "Quantity:", class:"text-success form-label" %>
      <%= form.number_field :quantity, placeholder: "300, 20, 43.4...", step: :any, :class=>"form-control" %>
    </div>

    <div class="d-flex flex-column">
      <%= form.label :measurement_unit, "Measurement unit:", class:"text-success form-label" %>
      <%= form.text_field :measurement_unit, placeholder: "grams or units...", :class=>"form-control" %>
    </div>

    <div class="d-flex flex-column">
      <%= form.label :price, "Price:", class:"text-success form-label" %>
      <%= form.number_field :price, placeholder: "$$$$$", step: :any, :class=>"form-control" %>
    </div>        
      
    <%= form.submit 'Add Food', class: "align-self-center btn btn-primary form-control" %>
  <% end %>
</div>